@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,800;1,600&display=swap');

body{
  background-color: #FFF;
  color:rgb(105, 104, 104);
  font-family: 'Nunito Sans', sans-serif;
  font-size: large;
  margin:0px;
}

hr{
  color:rgb(105, 104, 104);
  width:30%;
  text-align:center;
  border: 2px solid;
}

.hr-proj{
  color:rgb(105, 104, 104);
  width:100%;
  text-align:center;
  border: 2px solid;
}

.foot-block{
  text-align: center;
  background-color: #246fe7;
  color:white;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  padding:1.5rem 1.5rem;
}

.head-block{
  background-color: #246fe7;
  color:white;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding:1.5rem 1.5rem;
  margin-bottom: 1rem;
}

.head-block-options{
  display:inline;
  padding:1rem 0.5rem;
  list-style: none;
  text-align: center;
}

.head-list-right{
  text-align: right;
  list-style: none;
  padding:1.5rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.name{
  text-align:center;
  color:rgb(105, 104, 104);
}

.name-color{
  color: #246fe7;
}
.link-head{
  padding:0.5rem;
  color:white;
  text-decoration: none;
  text-align: center;
}

.link{
  padding:0.5rem;
  color: rgb(105, 104, 104);
  text-decoration: none;
  text-align: center;
}

.act-link{
  padding:0.5rem;
  color:white;
  text-decoration: none;
  text-align: center;
  border-radius: 1rem;
  border: 2px solid white;
}

.left-sec{
  margin:auto; 
  border: 3px solid #246fe7;
  border-radius: 2rem;
  text-align: center;
  max-width:300px;
  padding:0.5rem 0.5rem;
  box-shadow: 0 10px 20px rgba(36, 111, 231,0.19), 0 6px 6px rgba(36, 111, 231,0.23);
}

.my-img{
  size: 2rem;
  height: 200px;
  width: 200px;
}
.right-sec{
  display: block;
  align-content: center;
}

.link-connect{
  color: rgb(105, 104, 104);
  border-radius: 1rem;
  border: 2px solid rgb(105, 104, 104);
}

.img-block{
  text-align: center;
  padding:0rem 3rem;  
  max-width: 400px;
  display:block;
  margin:auto;
}

.images{
  text-align:center;
  max-width: 300px;
  display:block;
  margin:auto;
  padding-top: 1rem;
}

.block{
  text-align: center;
  padding:0rem 3rem;  
  max-width: 400px;
  display:block;
  margin:auto;
}
.para{
  text-align: center;
  display: block;
  padding:1rem 2rem;
}

.list-foot{
  display:inline;
  text-align: center;
  list-style: none;
  padding:0.5rem 0rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.foot-block-options{
  display:inline;
  list-style: none;
  text-align:center;
  margin: 2rem;
  background-color: white;
  padding-bottom: 0rem;
  padding-top:1rem;
  padding-left:1rem;
  padding-right: 1rem;
  border-radius: 1rem;
}

.link-foot{
  background-color: white;
  padding:0rem;
  color:white;
  text-decoration: none;
  text-align: center;
}

.list-projs-main{
  text-align: center;
  padding: 0.5rem 0.5rem;
  list-style: none;
  padding-inline-start: 0px;
}

.list-projs-sub{
  display:inline;
  text-align: center;
  padding-inline-start: 0px;
}
.list-projs-items{
  display:inline;
  list-style: none;
  text-align: center;
  border-radius: 1rem;
  border: 2px solid rgb(105, 104, 104);
  padding-inline-start: 0px;
}

.list-set{
  padding-inline-start: 0px;
}

.list-blogs{
  text-align: center;
  list-style:none;
}

.list-blogs-items{
  text-decoration: none;
  display:inline;
  list-style: none;
  border-radius: 1rem;
  border: 2px solid rgb(105, 104, 104);
  margin:2rem;
  padding:0rem 1rem;
  color: rgb(105, 104, 104);
}

.block-dummy{
  text-align: center;
  padding:0rem 3rem;  
  max-width: 700px;
  display:block;
  margin:auto;
}

.h3-null{
  margin-block-start: 0em;
  margin-block-end: 0em;
}